header {
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgb(148, 0, 62), rgb(255, 221, 215));
    background-color: rgba(240, 248, 255, 0.613);
}

main {
    height: 1000px;
}

.headshot {
    width: 300px;
    border-radius: 50%;
    border: 5px dotted;
    color: rgb(86, 33, 75);
    padding: 20px;
    margin: 30px;
}


.portfoliologo {
    width: 300px
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 500px;
    color: rgb(86, 33, 75);
}



body {
    background-color: rgb(255, 221, 215);
}

.aboutMeSection {
    color: rgb(148, 0, 62);
}


h1 {
    color: rgb(148, 0, 62);
    font-family: Great Vibes;
    font-size: 100px;
    text-emphasis-color: azure;

    font: 800 100px Great Vibes;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;

}



}


h2 {
    border-style: dotted;
    color: rgb(115, 29, 76);
    font-family: fantasy;
}


footer {
    background-color: rgb(148, 0, 62);
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.centered {
    text-align: center;

}

a {
    color: aliceblue;
}

.topnav {
    position: sticky;
    top: 0;
    background-color: rgb(86, 33, 75);
    color: rgb(255, 221, 215);
    border-style: dotted;
    margin: 10px;
    font-size: 40px;
    font-family: cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}